html {
  font-family: Helvetica;
  font-size: 18px;
}

header {
  display: flex;
  background-color: black;
  width: 100%;
  color: white;
  align-items: center;
  padding: 0.66rem 0;
  font-size: 1rem;
  margin:auto;
  position: fixed;
  z-index: 10;
}

.header-content {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 100%;
}

.header-text {
  max-width: 960px;
  margin: auto;
  width: 100%;

}

.header-logo {
  padding-right: 1rem;
  padding-left: 0.5rem;
  height: 1.5rem;
}

/*banner section */

.banner-section {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 2.32rem;

}


.banner-text-box {
  width: 25rem;
  background-color: black;
  color: white;
  position: relative;
  top: 9rem;

}

.banner-text-container {
  display: flex;
  max-width: 960px;
  margin: auto;
}

#new-arrival {
  display: block;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  padding: 2rem 0 0.25rem 3rem;
}

#sports-bikes {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-bottom: 2rem;
  display: block;
}

/* nav section */

nav {
  width: 100%;
  background-color: firebrick;
  position: relative;
  top: 2.32rem;
}

.nav-container {
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  color: white;
}

#ipad-menu {
  display: none;
}

/* products section */


.products-section-desktop {
  display: flex;
  max-width: 960px;
  margin: auto;
  position: relative;
  top: 2.32rem;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}


.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  border: 4px solid black;
}

.image-container {
  height: 9rem;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img {
  width: auto;
  width: 8rem;
}

.product-text {
  padding: 0.5rem 0;
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
}


/* shop details */

.shop-details-container {
  display: flex;
  max-width: 960px;
  margin: auto;
  position: relative;
  top: 2.32rem;
  justify-content: space-between;

}

.shop-details-blocks {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}

.black-blocks {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;

}

/* footer */

footer {
  width: 100%;
  background-color: black;
  position: relative;
  top: 2.32rem;
}

.footer-container {
    color: white;
    max-width: 960px;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: left;
    height: 100%;
    padding: 5rem 0;
}

@media only screen and (max-width: 1024px) {

.nav-container span {
  display: none;
}

#ipad-menu {
margin: auto;
display: block;
padding: 0.75rem 0;

}

.ipad-product {
  display: none;
}

}
